Source: ros-melodic-tf2-urdf
Section: misc
Priority: optional
Maintainer: Andrey Stepanov <standmit@zabstrannik.ru>
Build-Depends: debhelper (>= 9.0.0), liburdfdom-headers-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-tf2, ros-melodic-tf2-geometry-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-tf2-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-tf2, ros-melodic-tf2-geometry-msgs
Description: tf2_urdf
